<h1>Add a Recipe to <%= @category.name %></h1>

<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.input :recipe_id, collection: Recipe.all, label_method: :name, value_method: :id, prompt: "Select a Recipe" %>
  <%= f.input :comment %>
  <%= f.button :submit, "Create Bookmark" %>
<% end %>

<%= link_to "Back to Category", category_path(@category) %>
