<h1><%= @category.name %></h1>

<h2>Recipes in this category:</h2>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <strong><%= recipe.name %></strong><br>
        Description: <%= recipe.description %><br>
        Rating: <%= recipe.rating %><br>
        <%= link_to 'Delete', bookmark_path(recipe.bookmarks.find_by(category: @category)), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes in this category yet.</p>
<% end %>

<%= link_to 'Add a recipe to this category', new_category_bookmark_path(@category) %><br>
<%= link_to 'Back to Categories', categories_path %>